<style>
    input
    {
        padding: 5px;
        border-radius: 6px;
    }
  span{
    width: 100px;
    display: inline-block;
  }
  
</style>

<div>
    <div style="float: right;padding: 20px;border-radius: 10px;">
        <button (click)="logout()">Logout</button>
    </div>
    <div class="row">
            <div class="col-md-5">
                <h3>Create Student</h3>
              
                <div style="margin-top: 10px;">
                    <span>Tên sinh viên</span>
                    <input [(ngModel)]="TenSV" type="text" placeholder="Tên sinh viên">
                </div>

                <button (click)="addStudent()">
                    Created
                </button>
            </div>

            <div class="col-md-6">
                <h3>List Student</h3>
                <div>
                    <table  class="table table-hover">
                        <thead>

                     
                        <tr>
                            <th scope="col">MaSV</th>
                            <th scope="col">Ten SV</th>
                            <th scope="col">Số môn học</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr *ngFor="let item of listStudent ">

                                <td>{{item.MaSV}}</td>
                                <td>{{item.TenSV}}</td>
                                <!-- <td *ngIf="item.ListMH">{{item.ListMH.length}}</td> -->
                                <td>
                                    <button (click)="Delete(item)" class="btn btn-outline-danger" >Delete</button>
                                </td>
                    </tr>
                    </thead>
                    </table>
                       
                </div>

            </div>

    </div>
</div>